<h1> Your Mixtapes Uploaed <h1>


<ul>
<% @mixtapes.each do |tap| %>
    <li> <%= link_to(tap.title, user_mixtape_path(tap.user, tap)) %> - created by: <%=tap.user.name %> <br> uploaded - <%=tap.uploaded_at %> </li>
<% end %>
</ul>
</div>